:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  --light-gray: hsl(0, 0%, 95%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lexend Deca", sans-serif;
  background-color: var(--light-gray);
  font-size: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.container {
  max-width: 65rem;
  padding-inline: 1.25rem;
}

main {
  min-height: 80vh;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
}

section {
  padding: 2.5rem 1.75rem;
  line-height: 1.6;
}
section:nth-child(1) {
  background-color: var(--Bright-orange);
  border-radius: 1rem 0 0 1rem;
}
section:nth-child(2) {
  background-color: var(--Dark-cyan);
}
section:nth-child(3) {
  background-color: var(--Very-dark-cyan);
  border-radius: 0 1rem 1rem 0;
}
h2 {
  font-family: "Big Shoulders Display", sans-serif;
  color: var(--light-gray);
  font-size: 2rem;
  letter-spacing: 0.1em;
}
p {
  color: hsla(0, 0%, 100%, 0.75);
}

button {
  border: 0.15rem solid var(--light-gray);
  outline: none;
  background-color: var(--light-gray);
  padding: 0.87em 1.72em;
  border-radius: 2rem;
  font-size: 0.93rem;
  cursor: pointer;
  display: inline-block;
  transition: background 200ms ease-in-out, color 250ms ease-in-out;
  margin: 1rem 0;
}

section:nth-child(1) button {
  color: var(--Bright-orange);
}
section:nth-child(2) button {
  color: var(--Dark-cyan);
}
section:nth-child(3) button {
  color: var(--Very-dark-cyan);
}
section:nth-child(1) button:hover {
  background-color: var(--Bright-orange);
  color: var(--light-gray);
}
section:nth-child(2) button:hover {
  background-color: var(--Dark-cyan);
  color: var(--light-gray);
}
section:nth-child(3) button:hover {
  background-color: var(--Very-dark-cyan);
  color: var(--light-gray);
}
.attribution {
  color: var(--Dark-cyan);
  margin-top: 2rem;
  padding: 0.93rem;
}

@media (min-width: 45rem) {
  main {
    flex-direction: row;
  }

  section {
    padding: 2rem 1rem;
  }
  button {
    margin: 2rem 0;
  }
  img {
    margin: 2rem 0;
  }
}
